<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('styles/main.css') }}">
    {% block styles %}
    {% endblock %}
    {% set guser = app.session.get('user') %}
    <style>
        .acs li {
            cursor: pointer;
        }

        .child-menu {
            position: absolute;
            top: 56px;
            right: 25px;
            padding: 0 3em;
            box-sizing: border-box;
            display: none;
            box-shadow: 0 5px 10px rgba(0, 0, 0, .3);

        }

        #childMenu a {
            color: #333;
        }

        .acs li:hover div {
            display: block;
        }

        .acs ul li {
            margin: 0 1em;
        }

        .navAvatar {
            width: 30px;
            height: 30px;
            display: inline-block;
            background-size: cover;
            border-radius: 50%;
            position: absolute;
            top: 12px;
        }

        #loggedUser > div:first-child {
            width: 30px;
            height: 56px;
          }

          #loginMessage {
            display: none;
          }

          .acs ul li:hover a {
            color: #29B6F6;
          }
    </style>
    <title>Hello Symfony!</title>
</head>
<body>
<nav>
    <div class="logo">Learn Symfony</div>
    <div class="acs">
        <ul>
            <li id="loggedUser">
                {% if guser %}
                    <div>
                        <div class="navAvatar" style="background-image: url('{{ asset('upload/' ~ guser.avatar) }}')"></div>
                    </div>
                    <div class="child-menu" id="childMenu">
                        <a href="/logout">注销登录</a>
                    </div>
                {% else %}
                    <a id="addUser">登录</a>
                {% endif %}
            </li>
            <li>
                {% if guser %}
                    <a href="/project">项目管理</a>
                {% endif %}
            </li>
            <li>
                <a href="/user/all">用户管理</a>
            </li>
        </ul>

    </div>
</nav>
{# <div class="side-bar mdl-shadow--4dp">Side bar!</div> #}
<div class="content">
    {% block content %}
        Hi Content!
    {% endblock %}
</div>

<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">登录</h4>
            </div>
            <div class="modal-body">
                <form id="loginForm" action="/login" method="post">
                    <div class="form-group">
                        <label for="username">用户名：</label>
                        <input type="text" class="form-control" name="username" id="b-username">
                    </div>

                    <div class="form-group">
                        <label for="password">密码：</label>
                        <input type="password" class="form-control" name="password" id="b-password">
                    </div>

                    <div id="loginMessage" class="alert alert-danger"></div>
                </form>
            </div>

            
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="submitLoginForm">登录</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/rxjs/6.2.2/rxjs.umd.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="{{ asset('scripts/axios.js') }}"></script>

<script>
    // User login.
    $('#submitLoginForm').click(e => {
      $('#submitLoginForm').attr('disabled', true);
      let data = {
        username: $('#b-username').val(),
        password: $('#b-password').val()
      };
      axios.post('/login', data)
        .then(res => {
          window.location.reload();
        }).catch(err => {
          const status = err.response.status;

          let message = '';
          const $box = $('#loginMessage');

          if (status === 404) {
            message = '用户名不存在，请检查后重试。';
          } else if (status === 400) {
            // Parameter wrong.
            message = '密码错误，请检查后重试。';
          }

          $box.text(message);
          $box.css('display', 'block');
        }).finally(_ => {
          $('#submitLoginForm').attr('disabled', false);
        });
    });
</script>

{% block script %}
{% endblock %}
<script>

</script>
</body>
</html>