body {
  background: #F5F5F5;
}

nav {
  height: 56px;
  background: #FF4081;
  color: white;
  line-height: 56px;
  padding: 0 2em;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;

}

.acs {
  flex-grow: 1;
}

nav .acs a {
  color: white;
  cursor: pointer;
  text-decoration: none;
  line-height: 56px;
}

.acs li {
  list-style: none;
  display: block;
}

.acs ul {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: row-reverse;
}

.side-bar {
  width: 30%;
  max-width: 200px;
  height: 100%;
  bottom: 0;
  position: fixed;
  top: 56px;
  left: 0;
  background: white;
  padding: 2.6em 0 0 2em;
  box-sizing: border-box;
  color: #424242;
}

.content {
  padding-top: 56px;
  box-sizing: border-box;
}

form {
  width: 90%;
  max-width: 500px;
  margin: 2em auto;
}

hr {
  border-color: white;
}

.error-box {
  display: none;
}

.my-table {
  width: 90%;
  margin: 20px auto;
}

.td.actions {
  width: 10em;
  text-align: center;
}

.actions {
  width: 90%;
  margin: 20px auto;
}